<mat-card class="info-card">
    <mat-card-title class="info-card-title">
        Flight price trends
    </mat-card-title>
    <mat-card-content class="info-card-content">
        <mat-card class="flights-card">
            <div class="flights-card-container">
                <div class="flights-card-left">
                    <div class="flights-card-left-price">1230 UAH </div>
                    <button mat-button class="flights-card-left-details">Details</button>
                </div>
                <div class="flights-card-info">
                    <div class="flights-card-info-time">Departure</div>
                    <div class="flights-card-info-img">
                        <img  class="plane-img" src="https://www.flyswoop.com/images/icon-route.png" alt="plane" mat-card-img>
                        <span class="flights-card-info-img-departure">IFO</span>
                        <span class="flights-card-info-img-arrive">KBP</span>
                   </div>
                    <div class="flights-card-info-time">Return date</div>
                    <div class="flights-card-info-img">
                        <img class="plane-img" src="https://www.flyswoop.com/images/icon-route.png" alt="plane" mat-card-img>
                        <span class="flights-card-info-img-departure">KBP</span>
                        <span class="flights-card-info-img-arrive">IFO</span>
                   </div>


                </div>


            </div>
        </mat-card>
    </mat-card-content>
</mat-card>
